.success {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: rgba(23, 23, 23, 80%);
    border-left: 5px solid #20bb44
}

.primary {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: rgba(23, 23, 23, 80%);
    border-left: 5px solid #1c75d2
}

.error {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: rgba(23, 23, 23, 80%);
    border-left: 5px solid #c10114
}

.police {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: rgba(23, 23, 23, 80%);
    border-left: 5px solid #2197f2
}

.ambulance {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: rgba(23, 23, 23, 80%);
    border-left: 5px solid #f44236
}